<div class="jumbotron">
<h1>About</h1>
<p>This is a site under construction.  I am learning rails and working toward a challenge from my fiance to be able to make a wedding website better from scratch than a stock version (so far I have a long ways to go)</p>
</div>

<div class="dropdown">
    <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">Our Story
    <span class=""></span></button>
    <ul class="dropdown-menu">
      <li><a href="#">How we met</a></li>
      <li><a href="#">The first date</a></li>
      <li><a href="#">The Proposal</a></li>
    </ul>
  </div>